@font-face{
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNova-Bold.ttf");
}
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #83a7a5;
	font-weight: 400;
	min-width: 320px;
}

/*Общие*/

ul{
	list-style: none;
}
a {
	text-decoration: none;
	color: #83a7a5;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
  width: 1020px;
  margin: 0 auto;
}
.section_bg, .menu_footer {
	padding: 50px 0;
}

p {
	line-height: 22px;
}

input {
	outline: none;
}

/*header*/
header {
	background: url("../img/bg_head.jpg") no-repeat center center;
	background-size: cover;
	/*height: 100vh;высота 100% новое в CSS3*/
	height: 100%;
	margin-bottom: 20px;
	min-height: 600px;

	color:  #fff;
}

.header_top {
	height: 90px;
	line-height: 90px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header_logo {
	float: left;
}

.logo {
width: 90px;
margin-right: 40px;
/* border-right: 1px solid rgba(255, 255, 255, 0.2); */
/* height: 20px; */
font-family: ProximaNovaBold;
font-size: 29px;
font-weight: 700;
line-height: 90px;
float: left;
}

.phone {
	/* background: url('img/phone.png') no-repeat 7px 7px; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 90px;
	margin-left: 30px;
	width: 250px;
}

.phone img {
	padding-right: 5px;
	/* border-left: 1px solid rgba(255, 255, 255, 0.2); */
}

.phone a {
	color: #fff;
}

.main_nav {
	float: right;
}

.main_nav li {
	float: left;

}

.main_nav li a {
	color: #fff;
	opacity: 0.7;
	line-height: 21px;
	font-weight: 500;
	padding: 0 15px;
}

.main_nav li a:hover {
	opacity: 1;
}

.main_nav .btn-nav {
	margin-left: 15px;
	padding: 10px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 2px;
}

.promo {
	text-align: center;
	/* vertical-align: middle; */
	/* height: 400px;
	line-height: 400px; */
}

.promo h1 {
	font-family: Roboto;
	font-size: 50px;
	font-weight: 300;
	line-height: 60px;
	margin-top: 150px;
}

.btn {
	text-transform: uppercase;
	color:  #fff;
	padding: 20px 25px;
	background-color: #6fb048;
	border-radius: 2px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	transition: 1s;
}

.btn:hover {
	background-color: #49732f;
}

.promo .btn-header {
	display: inline-block;
	margin-top: 30px;
}

/* content */
h2 {
	font-family: Roboto;
	font-size: 32px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 300;
	color: #0f5f5c;
}
.line {
	text-align: center;
	width: 65px;
	margin: 0 auto;
	border: 1px solid #6fb048;
	margin-bottom: 40px;
}
.text {
	text-align: justify;
	width: 700px;
	margin: 0 auto;
	font-size: 15px;
	/* line-height: 22px; */
}

.blok {
	float: left;
	width: 300px;
	margin: 90px 30px 30px;
	text-align: center;
}

.blok:nth-child(1) {
	margin-left: 0;
}

.blok:nth-child(3) {
	margin-right: 0;
}

.blok .icon {
	width: 56px;
	height: 56px;
}

.blok h3 {
font-size: 16px;
line-height: 20px;
font-weight: 400;
padding-top: 25px;
padding-bottom: 25px;
color: #0f5f5c;
}

.blok p {
	font-size: 14px;
	text-align: justify;
	/* line-height: 22px; */
}

.team_bg {
	background: #eef1ec;
}

.rozd_p {
	text-align: left;
}

.rozd_p_bl {
	font-size: 15px;
	font-weight: 500;
	/* line-height: 22px; */
	color: #0f5f5c;
}
.blok {
	perspective-origin: right bottom;
	perspective: 800px; 
}
.blok .icon {
	transform-style: preserve-3d;
	transition: 2s;
}

.blok .icon:hover {
	transform: rotateY(180deg);	
	backface-visibility: visible;	
}

.blok_img_a img{
	margin-bottom: 10px;
	transition: 2s;
	transform: scale(1);
}

.blok_img_a img:hover{
	transform: scale(1.1);
}

/*like*/
.like_bg {
	background: url("../img/bg_sec.jpg") no-repeat center center;
	height: 200px;
	line-height: 200px;
	padding: 0;
}

.like {
	float: left;
	color: #fff;
	padding-top: 75px;
}

.like h3 {
	font-size: 28px;
	font-weight: 300;
	line-height: 22px;
	margin-bottom: 5px;
}

.like p {
	font-size: 15px;
	font-weight: 400;
	/* line-height: 22px; */
}

.btn_like_bg {
	float: right;
}

.btn_like {
	background: #49732f;
}

.btn_like:hover {
	background: #6fb048;
}

/*footer*/
.menu_footer {

}
.logo_foot {
	float: none;
	margin: 0;
	line-height: 29px;
	padding-bottom: 15px;
	color: #0f5f5c;
}

.blok_foot .span {
	color: #0f5f5c;
  font-weight: 500;
}

.blok_foot {
	float: left;
	width: 253px;

}

.blok_foot h3, .nav_foot a:hover {
	color: #0f5f5c;
}

.blok_foot h3, .blok_foot ul li {
	padding-bottom: 20px;
}

.nav_foot a:hover {
	text-decoration: underline;
}

.email {
	margin-top: 20px;
	background: #eef1ec;
	border-radius: 3px;
	transition: 1s;
	position: relative;
}
.email:hover {
	background: rgba(111, 176, 72, 0.4);
}

input[type="email"] {
  margin: 15px;
  width: 165px;
  border: 1px solid #eef1ec;
  background-color: #eef1ec;
  padding: 4px 4px 4px 9px;
}

input[type="email"]:focus, input[type="email"]:hover {
	border: 1px solid #6fb048;
	background: #fff;
}

input[type="image"] {
	position: absolute;
	top: 16px;
}

/*copyr*/
.copyr {
	height: 90px;
	line-height: 90px;
	border-top: 1px solid #eef1ec;
}

.copyr p {
	float: left;
	font-size: 12px;
	line-height: 90px;
}

.soc {
	float: right;
	padding-top: 10px;
} 

.soc a {
	margin-left: 10px;
}

.copyr:hover .soc_img {
  /* transform: scale(1);   Уменьшаем все фотографии */
}

.soc_img {
	transition: 1s;
}

.soc_img:hover {
	/* transform: scale(1.1) !important; */
	transform: rotate(360deg) !important;
}

