html, body{
	height: 100%;
}
body{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #83a7a5;
	font-weight: 400;
	min-width: 320px;
}

/*Общие*/
* {
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}






/*header*/
header {
	background: url(img/bg_head.jpg) center no-repeat;
	background-size: cover;
	/*height: 100vh;высота 100% новое в CSS3*/
	height: 100%;
	margin-bottom: 20px;
	min-height: 600px;
	color:  #fff;
}